
.header {
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 3.3rem;
    background-color: #000000;
    position: fixed;
    width: 100%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 5rem;
}
.nav .title {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    margin-top: 0.6rem;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav .title2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgb(153, 151, 151);
    margin-top: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagem {
    background-image: url("../../../assets/images/imagem.png");
    background-color: #cccccc; 
    height: 50rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.selectNav {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 4px;
    /* margin-top: 1.5rem; */
    background: var(--unnamed-color-f25790) 0% 0% no-repeat padding-box;
    background: #F25790 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0.5rem;
}
.NoSelectNav {
    margin-left: 1rem;
    height: 4px;
    /* margin-top: 1.5rem; */
    background: var(--unnamed-color-f25790) 0% 0% no-repeat padding-box;
    /* background: #F25790 0% 0% no-repeat padding-box; */
    opacity: 1;
}
.profission {
    font: var(--unnamed-font-style-normal) normal normal 42px/56px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    color: #FFFFFF;
    opacity: 1;
}
.buttonMidias {
    border: 2px solid var(--unnamed-color-ffffff);
    background: #FFFFFF3D 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    height: 2.4rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttonWpp {
    border: 2px solid var(--unnamed-color-ffffff);
    background: #4dc20e 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    height: 2.4rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttonWpp:hover {
    border: 2px solid var(--unnamed-color-ffffff);
    background: #2f840281 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    height: 2.4rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textMidias {
    text-align: left;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 7px;
    padding-right: 15px;
}
.ic_midias {
    padding-left: 15px;
    height: 1.5rem;
}
.buttonMidias:hover {
    background: #cac9c989 0% 0% no-repeat padding-box;
}
.onNavHover:hover {
    background: #81818120 0% 0% no-repeat padding-box;
    border-radius: 0.2rem;
    height: 2rem;
}
.aboutme {
    height: 60rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    background: var(--unnamed-color-202020) 0% 0% no-repeat padding-box;
    background: #202020 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.aboutme .text {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-31)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f25790);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    letter-spacing: 0px;
    color: #F25790;
    opacity: 1;
}
.textabouteme {
    font: var(--unnamed-font-style-normal) normal normal 22px/30px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 5rem;
}
.content-tech {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    align-content: center;
    height: 50rem;
}
.tech {
    border-radius: 121px;
    opacity: 1;
    width: 38%;
    height: 40%;
    background-color: #FFFFFF;
    margin-top: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    align-content: center;
}
.imgs-tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 4.2rem;
    width: 85%;
}
.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 5rem;
    background-color: #202020;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labelr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin-bottom: 2rem;
}

:host ::ng-deep .p-radiobutton 
    .p-radiobutton-box.p-highlight, 
:host ::ng-deep .p-radiobutton 
    .p-radiobutton-box.p-highlight:hover {
      
    background-color: #ffff;
    border-color: #00FFFF;
    box-shadow: none;
}
  
:host ::ng-deep .p-radiobutton 
    .p-radiobutton-box:not(.p-disabled)
    :not(.p-highlight):hover {
    border-color: #00FFFF;
}
  
:host ::ng-deep .p-radiobutton-icon {
    background-color: #00FFFF !important;
}
.img-contact {
    height: 25px;
    margin-left: 15px;
    margin-top: 20px;
}
.labelradio {
    color: var(--unnamed-color-00ffff);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    color: #00FFFF;
    opacity: 1;
    margin-left: 10px;
}
.labelradio2 {
    color: var(--unnamed-color-00ffff);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 10px;
}
.p-inputtext.input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #FFFFFF;
    background: #0000;
    padding: 0.75rem 0.75rem;
    border: 1px solid #FFFFFF;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 12px;
}
.p-inputtext.inputNotValid {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #FFFFFF;
    background: #0000;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ff0606;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 12px;
}
.p-inputtext.input:hover {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #FFFFFF;
    background: #0000;
    padding: 0.75rem 0.75rem;
    border: 1px solid #00FFFF;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}
.textSend {
    text-align: left;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 30px;
    padding-right: 30px;
}
.p-inputtext.wpp {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #FFFFFF;
    background: #0000;
    padding: 0.75rem 0.75rem;
    border: 1px solid #FFFFFF;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 12px;
    width: 30%;
    margin-top: 2rem;
}
.p-inputtext.wppNotValid {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #FFFFFF;
    background: #0000;
    padding: 0.75rem 0.75rem;
    border: 1px solid #f80606;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 12px;
    width: 30%;
    margin-top: 2rem;
}
footer {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 2.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
}
.img-projects:hover {
    background-color: #40404028;
    padding: 0.7rem;
    opacity: 0.3;
    border-radius: 1rem;
}
h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 19px;
    margin-top: 0.5rem;
}

.p-button.wppButton {
    color: #ffffff;
    background: #22c55e;
    border: 1px solid #37f303;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2.5rem;
    margin-top: 2.5rem;
}
.p-button.wppButton:hover {
    color: #ffffff;
    background: #007f2f;
    border: 1px solid #03ca0d;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2.5rem;
    margin-top: 2.5rem;
}

.p-button {
    color: #ffffff;
    background: rgba(255,255,255,0.1);
    border: 1px solid #FFFFFF;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2.5rem;
    margin-top: 0.8rem;
}
.p-button:hover {
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    border: 1px solid #FFFFFF;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2.5rem;
    margin-top: 0.8rem;
}
div .animationContact {
    position: relative;
    animation-name: firstInput;
    animation-duration: 2s;
    animation-delay: 0s;
}

div .animationContact2 {
    position: relative;
    animation-name: secondInput;
    animation-duration: 2s;
    animation-delay: 0s;
}

@keyframes firstInput {
    0% {
        left: -300px;
        opacity: 0.0;
    }
    10% {
        opacity: 0.0;
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}   
@keyframes secondInput {
    0% {
        right: -300px;
        opacity: 0.0;
    }
    10% {
        opacity: 0.0;
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}  
:host ::ng-deep .p-dialog {
    position: relative;
    animation-name: dialog;
    animation-duration: 1s;
    animation-delay: 0s;
}
@keyframes dialog {
    0% {
        bottom: -25rem;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}


.popupMaskChanged {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.6);
    display: block;
    overflow: auto;
    z-index: 1106;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.p-button.returned {
    color: #696cff;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2.5rem;
    margin-top: 2.5rem;
}

