<div>
    <div class="header">
        <div class="nav">
            <div *ngFor="let title of nav">
                <div class="onNavHover" (click)="onChangeNav(title)">
                    <div *ngIf="title.value" class="title">{{title.label}}</div>
                    <div *ngIf="!title.value" class="title2">{{title.label}}</div>
                    <div style="height: 1.1rem;"></div>
                    <div *ngIf="title.value" class="selectNav"></div>
                    <div *ngIf="!title.value" class="NoSelectNav"></div>
                </div>
            </div> 
        </div>
        
    </div>
    <div class="imagem">
        <img src="../../../assets/images/im_nome.png" />
        <p class="profission">Desenvolvedor</p>
        <div style="display: flex; flex-direction: row; justify-content: space-between; width: '14.3%'; margin-top: 3.6rem;">
            <div class="buttonMidias">
                <img class="ic_midias" src="../../../assets/images/ic_github.png" />
                <p class="textMidias">Github</p>
            </div>
            <div class="buttonMidias">
                <img class="ic_midias" src="../../../assets/images/ic_linkedin.png" />
                <p class="textMidias">Linkedin</p>
            </div>
        </div>
    </div>
    <div class="aboutme">
        <p class="text">Olá, sou o Matheus.</p>
        <img src="../../../assets/images/im_matheus.png" style="margin-top: '2.2rem';"/>
        <p class="textabouteme">Atuo como desenvolvedor desde 2019, tendo contato com diversas tecnologias, sempre em constante evolução.</p>
        <div style="margin-top: '2rem';" class="buttonMidias">
            <img class="ic_midias" src="../../../assets/images/ic_download.png" />
            <p class="textMidias">Currículo</p>
        </div>
    </div>
    <div class="content-tech">
        <div class="tech">
            <div class="imgs-tech">
                <img src="../../../assets/images/flutter.png"  />
                <img src="../../../assets/images/mysql.png"  />
                <img src="../../../assets/images/angular.png"  />
            </div>
        </div>
        <div class="tech">
            <div class="imgs-tech">
                <img src="../../../assets/images/firebase.png"  />
                <img src="../../../assets/images/android.png"  />
                <img src="../../../assets/images/ios.png"  />
            </div>
        </div>
        <div class="tech">
            <div class="imgs-tech">
                <img src="../../../assets/images/typescript.png"  />
                <img src="../../../assets/images/react_native.png"  />
                <img src="../../../assets/images/react.png"  />
                <img src="../../../assets/images/azure.png"  />
            </div>
        </div>
    </div>
    <div>
        <p-carousel [value]="images"
        [numVisible]="3" 
        [numScroll]="3" [circular]="true"
        [showIndicators]="false">
            <ng-template let-item pTemplate="item">
                <img [src]="item" />
            </ng-template>
        </p-carousel>
    </div>
    <div class="dev">
        <img src="../../../assets/images/im_dev.png" style="margin-top: '6rem';" />
    </div>
    <div class="contact">
        <div style="display: flex; flex-direction: row; width: '30%'; justify-content: space-between;">
            <div class="labelr">
                <p-radioButton styleClass="radio-style" name="contato" value="email" [(ngModel)]="selectedValue"></p-radioButton>
                <img class="img-contact" src="../../../assets/images/ic_email.svg" />
                <p [class]="selectedValue === 'email' ? 'labelradio' : 'labelradio2'">E-mail: matheusfel13@gmail.com</p>
            </div>
            <div style="width: '50%';" class="labelr">
                <p-radioButton name="contato" value="wpp" [(ngModel)]="selectedValue"></p-radioButton>
                <img class="img-contact" src="../../../assets/images/ic_whatsapp.svg" />
                <p  [class]="selectedValue === 'wpp' ? 'labelradio' : 'labelradio2'">Whatsapp: +55 31 9 9346-1579</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; width: '40%'; justify-content: space-between;">
            <!-- <div class="grid p-fluid">
                <div class="col-12 md:col-4"> -->
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="E-mail">
                        <input type="text" pInputText placeholder="Nome">         
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
        <div style="margin-top: 25px;" >
            <textarea [autoResize]="true" [cols]="85" [rows]="4" pInputTextarea placeholder="Mensagem"></textarea>
        </div>
        <div style="margin-top: 30px; margin-bottom: 20px;" class="buttonMidias">
            <p class="textSend">Enviar</p>
        </div>
    </div>
    <footer class="footer">
        <span class="textSend">&copy; Desenvolvido por mim  <i class="pi pi-heart" style="font-size: 1.2rem; color: crimson; margin-left: 5px;"></i></span>
        
    </footer>
</div>